/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: rgb(252, 165, 94);     /* red, blue, yellow, etc */
    color: brown;             /* red, blue, yellow, etc */
    font-size: 25px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 50px;        /* From 0px and upwards   */
}





